body {
    margin: auto;

}
.container-fluid{
    
    margin: auto;
}
.navbar {
    border: none;
    color: #f4511e;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    margin: auto;
}